html,body{font-family:'MyriadProRegular',serif;background-color:#222222;overflow:hidden;height:100%;width:100%;}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;}
ul{color: #000000;text-decoration: none;list-style: none;}

.marker {position:absolute;width:100%;background:rgba(0,0,0,0.9);z-index:99999;}
#finish.marker {height:100%;top:0%;}
#selection.marker {height:100%;top:0%;}
#container {position:absolute;width:100%;height:100%;top:0%;background:#222222;}
#blanket {
	position:absolute;
	width:100%;
	height:57%;
	top:25%;
	background:#222222;
	z-index:3;
	display:block;
}

#status {
	position:absolute;
	width:85%;
	left:5%;
	right:10%;
	height:20%;
	top:10%;
	font-size:200%;
	color:#eeeeee;
}
#question {
	position:absolute;
	width:85%;
	margin-left:auto;
	margin-right:auto;
	top:26%;
	font-size:200%;
	color:#eeeeee;
	text-align:center;
}
#notice {position:absolute;width:85%;left:5%;right:10%;height:5%;top:30%;font-size:100%;color:#ff5555;}

#spinner {position:absolute;width:5%;height:10%;left:0%;top:5%;}
#displayframe1 {position:absolute;left:5%;top:35%;width:40%;height:45%;margin: 0px;padding: 0px; border-radius:5px;border-width:2px;border-color:#555555;border-style:solid;
			    overflow:hidden;z-index:1;transition:border-color 450ms cubic-bezier(0.2, 0, 0.07, 1);}
#displayframe1.selected {border-color:#ADD8E6;}
#displayframe2 {position:absolute;left:50%;top:35%;width:40%;height:45%;margin: 0px;padding: 0px; border-radius:5px;border-width:2px;border-color:#555555;border-style:solid;
				overflow:hidden;z-index:1;transition:border-color 450ms cubic-bezier(0.2, 0, 0.07, 1);}
#displayframe2.selected {border-color:#ADD8E6;}

#attribute1frame1 {
	position:absolute;
	left:7%;
	top:36%;
	width:40%;
	height:7%;
	margin: 0px;
	padding: 0px;
	overflow:hidden;
	z-index:2;
	transition:all 450ms cubic-bezier(0.2, 0, 0.07, 1);
	color:#dddddd;
}
#attribute1frame2 {
	position:absolute;
	left:52%;
	top:36%;
	width:40%;
	height:7%;
	margin: 0px;
	padding: 0px;
	overflow:hidden;
	z-index:2;
	transition:all 450ms cubic-bezier(0.2, 0, 0.07, 1);
	color:#dddddd;
}
#attribute2frame1 {
	position:absolute;
	left:36%;
	top:70%;
	width:10%;
	height:10%;
	margin: 0px;
	padding: 0px;
	overflow:hidden;
	z-index:2;
	transition:all 450ms cubic-bezier(0.2, 0, 0.07, 1);
	color:#dddddd;
}
#attribute2frame2 {
	position:absolute;
	left:81%;
	top:70%;
	width:10%;
	height:10%;
	margin: 0px;
	padding: 0px;
	overflow:hidden;
	z-index:2;
	transition:all 450ms cubic-bezier(0.2, 0, 0.07, 1);
	color:#dddddd;
}
#attribute1frame1 a{
	font-size:200%;
}
#attribute1frame2 a{
	font-size:200%;
}
#attribute2frame1 a{
	font-size:200%;
}
#attribute2frame2 a{
	font-size:200%;
}

#controlframe {position:absolute;left:0%;top:80%;width:100%;height:40%;margin: 0px;padding: 0px;overflow:hidden;z-index:2;}
	
	.cbutton {
		position:absolute;
		height:20px;
		padding:0 2px 0 2px;
		text-align:center;
		border-radius:5px;
		border-width:2px;
		border-color:#555555;
		border-style:solid;
		background-color:#444444;
    }
	
	.cbutton.selected{color:#ADD8E6;background-color:#222222;border-color:#ADD8E6;}
	.cbutton.active{background-color:#303838;cursor:pointer;}
	.cbutton.active:hover{color:#ADD8E6;border-color:#ADD8E6;}
	
	#leftmost.cbutton{
		top:5%;
		left:8%;
		width:15%;
		-webkit-transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
    	-moz-transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
    	transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
    }
	#left.cbutton{
		top:5%;
		left:24%;
		width:15%;
		-webkit-transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
    	-moz-transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
    	transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
	}
	#neutral.cbutton{
		top:5%;
		left:40%;
		width:15%;
		-webkit-transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
    	-moz-transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
    	transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
	}
	#right.cbutton{
		top:5%;
		left:56%;
		width:15%;
		-webkit-transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
    	-moz-transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
    	transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
	}
	#rightmost.cbutton{
		top:5%;
		left:72%;
		width:15%;
		-webkit-transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
    	-moz-transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
    	transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
	}
	#confirm.cbutton{
		width:16%;
		top:25%;
		left:39.5%;
	    -webkit-transition-duration: 0.2s;
	    -moz-transition-duration: 0.2s;
	    transition-duration: 0.2s;
	}
	#confirm.cbutton:active{
    	background-color:#303838;
    	border-color:#BEE9F7;
	}
	
/* 	#restart.cbutton{margin-left:65%;top:50%;width:200px;} */
	#mturk.cbutton{
		margin-left:35%;top:85%;width:30%;
		-webkit-transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
    	-moz-transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
    	transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);	
	}
	
	.cbutton, .button a{font-size:100%;-webkit-transition:color 450ms cubic-bezier(0.2, 0, 0.07, 1);
	text-transform:uppercase;text-decoration:none;display:inline-block;color:#cccccc;padding-top:10px;padding-bottom:10px;}
	
	select{
		width:40%;
		margin-left:30%;
		-webkit-transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
    	-moz-transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
    	transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
    	color:#ADD8E6;background-color:#222222;border-color:#ADD8E6;
    	text-align:center;
		border-radius:5px;
		border-width:2px;
		border-color:#555555;
		border-style:solid;
		background-color:#444444;
		font-size: 100%;
		-webkit-transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
    	-moz-transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
    	transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
	}
	select:focus{
		color:#ADD8E6;background-color:#222222;border-color:#ADD8E6;
	}
	
	
	#welcome, #styling{
		position: absolute;
		top: 10%;
		left: 10%;
		width: 80%;
		height: 80%;
		color: #eeeeee;
		-webkit-transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
    	-moz-transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
    	transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
	}
	#welcome p, #styling p{
		width: 60%;
		font-size: 150%;
	}
	
	.vertical{
		height: 100%;
		border-left: 2px solid #BEE9F7;
		position: absolute;
		top: 0%;
		left: 64%;
	}
	
	#proceed, #start{
		position: absolute;
		width: 200px;
		bottom: 5%;
		left: 65%;
		margin-left: auto;
		margin-right: auto;
		-webkit-transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
    	-moz-transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
    	transition: all 450ms cubic-bezier(0.2, 0, 0.07, 1);
	}
	